
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
outline: none !important;
}
.btn:active {
outline: none !important;
}
.btn:focus,.btn:active {
outline: none !important;
box-shadow: none !important;
}
.form-control {
border : 1px solid #e2e2e2;
}

.form-control:focus,.form-control:active {
outline: none !important;
box-shadow: none !important;
border-bottom: 3px solid #0d6efd;
}
.btn{
border-radius: 1px;
}
.form-control{
border-radius: 1px;
}
.search-btn{
     background-color: white;
     color: #0d6efd;
}


.btn-close:focus,.btn-close:active:focus,.btn-close.active:focus,
.btn-close.focus,.btn-close:active.focus,.btn-close.active.focus {
outline: none !important;
}
.close:focus,.close:active:focus,.close.active:focus,
.close.focus,.close:active.focus,.close.active.focus {
outline: none !important;
}

/* index */

body{
     font-family: roboto;
    
}
.card{
    
     border-radius: 0 !important;    
}
.blog-section{
     background-color:rgb(243, 243, 243);
}
.search{
     padding-left:  20px;
     outline: none;
     border: none;
     margin-left: 15px;
}

html{
     scroll-behavior: smooth;
}