{% extends "base.html" %}

{% block title %}
  Login your account
{% endblock title %}

{% block body %}

<div class="container  mt-5">
     <div class="row gx-5">
      <div class="col pt-5">
        <h3 class="mt-5">Create your account Now</h3>
        <p class="text-muted">Registers are temporary storage areas for instructions or data. ... Registers work under the direction of the control unit to accept, hold, and transfer instructions or data and perform arithmetic or logical comparisons at high speed.</p>

        <span>Already have account <a href="{% url 'login' %}" style="text-decoration:none">Login Now</a> </span>
      </div>
       <div class="col">
        <div class="card shadow" style="width: 40rem;">
          <div class="card-body">
            <h4 class="mb-3"> Register</h4>
            <form method="post" action="register">
              {% csrf_token %}
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" >
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" >
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" >
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="pass2">
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
       </div>
      
     </div>
   </div>

{% endblock body %}